{% extends "AjustesGeneralesBundle::layout_admin_ajax.html.twig" %}
{% block title %}Ajustes Generales || Administrador{% endblock %}
{% block ejemplo %}
<div style="min-height:360px;">
    <a href="#">Informaci&oacute;n general</a>
    <a href="#">Gesti&oacute;n de Sedes</a>
    <a href="#">Otros Ajustes</a>
</div>
{% endblock %}
